body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    background: #1F2937;
    max-width: 100%;
    justify-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    padding-top: 10px;
}

.logo,
.main-text,
button{
    color: #F9FAF8;
}

ul{
    display: flex;
    gap: 16px;
}

li{
    list-style-type: none;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.main-text{
    font-size: 48px;
    font-weight: bolder;
    margin-top: 50px;
}

li,
.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.first-button{
    background: #3882F6;
    padding:3px;
    width: 90px;
    border: 1px solid #3882F6;
    border-radius: 5px;
}

.first-image{
    margin: 20px 0;
    padding: 20px 0;
}

.information{
    display: flex;
    justify-content: center;
    gap: 50px;
}

h3{
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}

.image{
    display:flex;
    flex-direction: column;
    padding:10px;
    max-width:200px;
}

h3,
.image{
    text-align:center;
}

.image img{
    padding-bottom: 10px;
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    padding: 16px;
    background:#E5E7EB;
    text-align:center;
}

.quote{
    margin-bottom: 0;
    font-size: 36px;
    font-style:italic;
    max-width: 539px;
}

.quote-author{
    margin: 0 3% 30px 33%;
    font-weight: 900;
    font-size: 20px;
}

.quote,
.quote-author{
    color:#1F2937;
}