body{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 16px;
    background: #1F2937;
}

.logo,
li{
    padding: 16px 24px 16px 30px;
    margin: 5px;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}